<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanics Click</title>

    <style media="screen">
        .jumbotron {
          margin-top: 0px;
          margin-bottom: 0px;
        }
    
        .jumbotron h1 {
          text-align: center;
        }
    
    </style>
</head>

<body>
    {% include "vehicle/main/navbar.html" %}
    <br>
    <div class="jumbotron" style="margin-bottom:0px;">
        <h1 class="display-4">Hello, Mechanics</h1>
        <p class="lead">Welcome to Grand Automobile Service Management </p>
        <hr class="my-4">
        <p>You can access various features after Login. </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="mechanicsignup" role="button">Apply For Job</a>
            <a class="btn btn-primary btn-lg" href="mechaniclogin" role="button">Login</a>
        </p>
    </div>
    {% include "vehicle/main/footer.html" %}
</body>

</html>