<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title></title>

    <style type="text/css">
        .bs-example{
            margin: 0px;
        }
        .bg-dark{
            background-color: #343a40!important;
        }
        .navbar-brand{
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div class="bs-example">
        <nav class="navbar navbar-expand-md  navbar-dark fixed-top bg-dark">
            <a href="/" class="navbar-brand" style="color:white" ><h3><em>Grand Automobile Services</em></h3></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link active"> Home</a>

                    <a href="/customerclick" class="nav-item nav-link">Customer</a>
                    <a href="/mechanicsclick" class="nav-item nav-link">Mechanic</a>
                    <a href="/adminclick" class="nav-item nav-link">Admin</a>
                </div>
                <div class="navbar-nav">
                    <a href="/aboutus" class="nav-item nav-link">About Us</a>
                    <a href="/contactus" class="nav-item nav-link">Contact Us</a>
                </div> 
            </div>
        </nav>
    </div>
</body>
    
</html>