* {
	box-sizing: border-box;
}
bg-primary {
    background:#343a40;
}
.avt {
	padding: 11px
}
.avt img {
	width: 39px;
	height: 39px;
	border-radius: 50%;
}
  
.bg-success {
  background: green;
 }
  
.bg-warning {
    background:yellow;
}
  
.bg-danger {
    background:red;
}
[class*="col-"] {
	padding: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
	.sidebar {
		width: 0;
	}
	.wrapper {
		margin-left: 0;
	}
	.sidebar-expand .wrapper {
		margin-left: 0;
	}
	.nav-right .nav-item {
		display: none;
	}
	.nav-right .mode, .nav-right .avt-wrapper {
		display: list-item;
	}
	.navbar-search {
		display: none;
	}
	.dropdown-menu {
		max-width: 300px;
	}
	[class*="col-"] {
		width: 100%
	}
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}
.card {
	color: #343a40!;
	border-radius: 30px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid ;
	position: relative;
}
.card-header i:hover {
	cursor: pointer;
}
.card-header h3 {
	margin: 0;
}
.card-content {
	padding: 20px;
	overflow-x: auto;
}
.counter {
	padding: 16px;
	text-align: center;
	color: blue;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.counter i {
	font-size: 50px;
}
.dropdown {
	position: absolute;
}
.dropdown:hover {
	cursor: pointer;
}
.dropdown-menu {
	list-style: none;
	display: none;
	flex-direction: column;
	position: absolute;
	right: 20%;
	top: 90%;
	background:  #343a40!;
	max-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: unset;
	border-radius: 10px;
	border: 0.125px solid;
}
.dropdown-expand {
	display: flex;
}
.dropdown-menu-item {
	width: 100%;
}
.dropdown-menu-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color:yellow;
}

.dropdown-menu-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.dropdown-menu-link i {
	font-size: 1.25rem;
	color:black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
	font-size: 15px;
	width: 298px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
	font-size: 10px;
}

.dropdown-menu-link:hover {
	cursor: pointer;
	background:yellow;
}

.dropdown-menu-header {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid;
}

.dropdown-menu-footer {
	padding: 20px;
	text-align: center;
	border-top: 1px solid ;
}
.navbar div{
	flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction:column;
    background: #343a40;
    color:white;
    position: absolute;
	padding: 0px;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px ;
}
.navbar-nav{
    list-style:none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.nav-link {
	float: left;
	text-align: center;
	padding: 21px 10px;
	text-decoration: none;
	font-size: 17px;
	color: black;
	position: relative;
}
.nav-link:hover {
	cursor: pointer;
    color:yellow;
}
.navbar-nav i {
	font-size: 1.4rem;
}
.nav-item{
    float: left;
}
.nav-right {
	margin-left: auto;
}

.navbar-search {
	position: relative;
	margin: auto;
	width: 30%;
	flex-direction: left;
}
.navbar-search input {
	background: white;
	border: none;
	padding: 12px 50px 12px 50px;
	width: 100%;
	outline: none;
	color: black;
	border-radius: 20px;
}

.navbar-search i {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color:grey;
	cursor: pointer;
}
.navbar-badge {
	font-size: .6rem;
	padding: 2px 4px;
	font-weight: 300;
	position: absolute;
	right: 5px;
	top: 9px;
	color: #fff;
	background:black;
	border-radius: 5px;
}
.sidebar {
	width: 82px;
	height: 100vh;
	position: fixed;
	margin-top: 65px;
	background: #343a40!;
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
	overflow: hidden;
	z-index: 100;
	transition: width .5s;
}
.sidebar:hover {
	width: 250px;
}
.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
.sidebar-nav-item {
	width: 100%;
}
.sidebar-nav-link {
	display: flex;
	align-items: center;
	color: black;
	text-decoration: none;
}
.sidebar-nav-link i {
	font-size: 1.5rem;
	color:black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.sidebar-nav-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}
.sidebar-nav-link:hover {
	background: yellow;
}
.sidebar-nav-link.active {
	background: green;
	color:red;
}
.sidebar-nav-link.active div {
	border-left: 5px solid ;
}
.sidebar-nav-link.active i {
	color: grey;
	margin-left: -5px;
}
.sidebar-expand .sidebar {
	width: 250px;
}
.sidebar-expand .wrapper {
	margin-left: 250px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table td {
	border-top: 1px solid black;
	padding: 15px;
}
table th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 15px 12px;
	text-align: left;
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row:after, .row:before {
	box-sizing: border-box;
}
.overlay-scrollbar::-webkit-scrollbar {
	width: 9px;
	height: 5px;
}
.scrollbar-hover::-webkit-scrollbar {
	display: none;
}
.scrollbar-hover:hover::-webkit-scrollbar {
	display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.4);
	border-radius: 10rem;
	border: 1px solid;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
	background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
	background: transparent;
}
.dot i {
	display: inline-block;
	width: .385rem;
	height: .385rem;
	margin-right: .385rem;
	vertical-align: middle;
	border-radius: 50%;
}

.progress-wrapper {
	margin-bottom: 15px;
}

.float-right {
	float: right;
}

.progress {
	height: 10px;
	overflow: hidden;
	display: flex;
	font-size: .75rem;
	background: rgba(0,0,0,0.05);
	border-radius: .25rem;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.wrapper {
	padding: 10px;
	margin-left: 82px;
	padding-top: 75px;
	background: white;
	transition: margin-left .5s;
}